@font-face {
    font-family: bellotaRegular;
    src: url(../fonts/Bellota-Regular.otf);
    font-display: swap;
}

body {
    font-family: bellotaRegular;
    background-color: #0d8187;
    color: #FFF;
}

.contact-form .btn-primary, .contact-form .btn-primary:active {
    color: #FFF;
    background: #303030 !important;
    border: none;
}

.contact-form h2 {
    font-size: 2.75em;
    text-align: center;
}

.howto {
    font-size: 1.25em;
    text-align: center;
}

.container {
    text-align: center;
}

.foot-gap {
    margin-top: 10em;
}

.honeypot{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}